doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='A QR Code builder generates a QR code which is a two-dimensional representation, similar to a barcode, typically composed of pixel patterns in black and white.')
        meta(name='author', content='Acreboard')

        title qrmarker - QR Builder

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    // Body
    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

        header.bg-dark.py-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2 qrmarker: The QR Builder
                            p.lead.text-white-50.mb-4 Brand, QR and Engagement. Boost your engagement and conversions with our branded QR codes.
                            .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#qrgenerator') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#contact') Contact Us

        // Page Content
        section#qrgenerator.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Key Takeaway
                        p.lead
                            | A QR Code builder generates a QR code which is a two-dimensional representation, similar to a barcode, typically composed of pixel patterns in black and white.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What is QR code?
                        p.lead
                            | A QR code, short for Quick Response code, comprises an array of black and white squares or pixels arranged in a grid to store data readable by a machine. Using a smartphone or camera, the information encoded in the distinctive arrangement of pixels within a QR code can be quickly processed, providing a convenient method for storing and accessing data.
                        p.lead
                            | QR generator or builder is a specialised tool that helps generate various custom QR Codes tailored to different needs. Depending on your specific goal, the generator allows you to create QR Codes for tasks such as opening a website, viewing a PDF file, listening to music, watching YouTube videos, storing image files, connecting to a WiFi network, and much more.
                        p.lead
                            | History: Denso Wave, a subsidiary of Toyota supplier Denso based in Japan, created QR codes to mark components, aiming to speed up logistics processes within their automobile production.
        
        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Why is QR important?
                        p.lead
                            | QR code's popularity is on the rise due to their versatility. Businesses can employ them to collect feedback for product or service improvement, enhance customer engagement through images or videos, and even promote your business via events and coupons. All of these functionalities can be achieved with just a single scan!

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What are the uses of QR code?
                        p.lead
                            | QR codes, short for Quick Response codes, serve various purposes. For instance, your ticket information received through a mobile application or your flight boarding pass may include a QR code. QR codes can also be found on food packaging, providing additional information about the contents upon scanning. They are prevalent in advertisements or billboards.
                        p.lead
                            | Notably, retailers increasingly use QR codes for accepting mobile wallet or app-based payments. Essentially, a QR code expands the available data on any physical object, creating a digital extension for marketing operations. This technology facilitates and boosts the use of mobile web services, making it a highly innovative digital tool. Moreover, QR codes can be customised, allowing brands to integrate their visual identity into these codes.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What are the benefits of QR codes?
                        p.lead
                            | Here, are the notable benefits of QR:
                        h2 Security
                        p.lead
                            | The global scale of pandemic has changed how businesses communicate with their customers. QR codes allow businesses to deliver customers with critical information, be it by sharing a menu or providing a form for customers to safely fill in.
                        h2 Fast Access
                        p.lead
                            | Leveraging QR codes is an excellent method to simplify the user experience and ensure customers can access information quickly and efficiently. Through scanning a QR code, customers can directly reach a landing page or check in at a location without the need to interact with a staff member or seek assistance.
                        h2 Data Storage
                        p.lead
                            | QR codes serve as a repository for valuable information for your customers. They can contain extensive encrypted data, translating into URLs that link to promotions and landing pages, while also collecting location data and facilitating the sharing of other marketing materials.
                        h2 Customer Journey
                        p.lead
                            | QR codes empower you to guide customers directly to their intended destination. Whether it's directing them to a social media page or a promotional landing page, QR codes allow you to channel traffic to a specific section of your website, eliminating the need for customers to navigate through multiple steps to reach their desired location.
                        h2 Improved engagement
                        p.lead
                            | If you aim to boost engagement on your website or specific content, QR codes provide a simple method to prompt users to interact with it. The act of scanning a QR code signifies an existing intent to read and engage with the information.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Research and reports
                        p.lead
                            | Below are some statistics that emphasise the significance of QR code:
                        h2 Insider Interlligence
                        p.lead
                            | A survey indicated that 52.6 million smartphone users in the US utilized QR codes in 2019. This figure is anticipated to rise to 99.5 million by 2025, representing an almost 100% increase.
                            br
                            a(href='https://www.insiderintelligence.com/content/brands-leverage-qr-codes') Learn more

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Create Brand QR code
                        p.lead
                            | Generate personalised QR Code with a logo.
                        h2 Branded QR code
                        p.lead
                            | Personalise your QR code with a custom brand and logo. QR code builder makes it easy to add a logo to your QR code in a simple and straightforward manner, ensuring the codes remain readable. Enhance the uniqueness of your QR code using custom design and color choices. Tailor the shape and form of the corner elements and the body of the QR code according to your preference. Customise all elements with your chosen colours, including the option to add a wide range of colour to the QR code body for a standout appearance. Captivating QR codes have the potential to boost scan rates significantly.
                        h2 Unlimited scan
                        p.lead
                            | QR code builder has limitless functionality. All generated QR codes remain operational indefinitely, with no expiration and no scanning restrictions, distinguishing them from other commercial QR code generators. While the created QR codes are static, it's worth noting that the only limitation lies in the inability to edit the QR code once generated.
                        h2 High resolution QR Code
                        p.lead
                            | QR code builder provides QR codes with high resolutions suitable for printing. When generating your QR code, choose the highest pixel size for print-quality .png files. Additionally, you can convert and download vector formats such as .svg, .eps, and .pdf for the utmost quality. The .svg format is particularly recommended as it retains all design settings and offers an ideal print format compatible with most vector graphic software.

        section
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 How do I scan QR codes?
                        p.lead
                            | Your device might already have a built-in QR code reader or scanner, depending on the model - Android, iOS or others.
                        h2 Step 1: 
                        p.lead 
                            | Open the camera app on your mobile phone, position it over a QR code for a few seconds until a notification appears.
                        h2 Step 2: 
                        p.lead 
                            | If this doesn't occur, review your settings to ensure QR code scanning is enabled.
                        h2 Step 3: 
                        p.lead 
                            | If the built-in feature isn't working, consider installing third-party QR code readers from your app store or play store.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 QR for Brands
                        p.lead
                            | QR codes have proven to be an efficient marketing tool for directing potential customers to the appropriate location. Opt for an all-encompassing solution to connect offline and online marketing and customise your QR Codes.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 A “must have” QR generator for your brand
                        p.lead
                            | Having gained insight into the significance of QR codes, it's now an opportunity to consider their integration into your existing business strategy. Start your journey by exploring how QRcan benefit your business, streamline processes, and elevate the overall experience for your customers.

        // Call to action
        section.py-5.bg-light
            .container.px-5.my-5
                h2.display-4.fw-bolder.mb-4 Let's build together a better future
                a.btn.btn-lg.btn-primary(href='mailto:acreboard@outlook.com') Contact us

        // Contact cards
        section#contact.py-5
            .container.px-5                    
                .row.gx-5.row-cols-2.row-cols-lg-4.py-5
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-chat-dots
                        .h5.mb-2 Email us
                        p.text-muted.mb-0 Email us at acreboard@outlook.com.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-telephone
                        .h5 Call us
                        p.text-muted.mb-0 Call us at (+91) 9152965250.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-people
                        .h5 Ask the community
                        p.text-muted.mb-0 Explore our community forums.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-question-circle
                        .h5 Support center
                        p.text-muted.mb-0 Browse FAQ's and support articles.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug